# Loads default set of integrations. Do not remove.
homeassistant:
  name: Maison
  latitude: !secret homeassistant_latitude
  longitude: !secret homeassistant_longitude
  elevation: !secret homeassistant_elevation
  unit_system: metric
  temperature_unit: C
  time_zone: Europe/Paris
  external_url: !secret homeassistant_external_url
  internal_url: "http://192.168.1.127:8123"
  language: fr
  country: FR
  currency: EUR
  packages: !include_dir_named packages
  customize_domain:
    automation:
      initial_state: true
  allowlist_external_dirs:
    - /config

default_config:

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes
  extra_module_url:
    - /hacsfiles/lovelace-card-mod/card-mod.js

http:
  use_x_forwarded_for: true
  trusted_proxies:
    - 192.168.1.127
    - 172.17.0.0/24  

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml
zone: !include zone.yaml

sensor:
  - platform: time_date
    display_options:
      - "time"
      - "date"
      - "date_time"

recorder:
  purge_keep_days: 2
  exclude:
    entities:
      - sensor.plex_plex_recently_added
    entity_globs:
      - sensor.pronote_*
      - sensor.browser_*
  db_url: !secret recorder_db_url

rest_command:
  bdpv_send_index:
    url: !secret bppv_url
    method: POST
