homeassistant_latitude:
homeassistant_longitude:
homeassistant_elevation:
homeassistant_external_url:

recorder_db_url:

alarm:

bppv_url:

linky_token:
linky_pdl:

melcloud_user:
melcloud_password:

thomas_npsso:
romain_npsso:
valentine_npsso: