homeassistant_latitude:
homeassistant_longitude:
homeassistant_elevation: 
homeassistant_external_url:

caldav_url:
caldav_user_thomas: 
caldav_password_thomas:
caldav_user_benedicte: 
caldav_password_benedicte:

recorder_db_url: 

unraid_ip: 

alarm:

plex_token: 

bppv_url:

mealie_token: